body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    margin: 10px 35%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.form_item{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}
.form_field{
    height: 30px;
    width: 300px;
    display: flex;
    flex: row;
    align-items: center;
    border: 1px #A6D9F7 solid;
    border-radius: 5px;
}
.form_item input{
    outline: none;
    border: hidden;
    padding-left: 10px;
    width: 95%;
    cursor: pointer;
}
.form_item select{
    outline: none;
    border: hidden;
    padding-left: 5px;
    width: 95%;
    cursor: pointer;
}
.form_input input:focus{
    outline:none;
}
.form_submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}
.submit_button{
    width: 120px;
    height: 30px;
    background-color:#81d3fc ;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.submit_button:hover{
    background-color:#45baf5;
}